body {
    background-color: #3075c9;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    font-size: 1.7rem;
}

.form-group label, .checkbox {
    font-size: 1.7rem;
}

.btn {
    width: 80px;
    color: #141412;
    background-color: #c9aa30;
    border: none;
}

.btn:hover {
    background-color: #22c73d;
}